
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

.course-labels {
    font-size:14px;
    fill:white;
    font-family:"Arial";
    font-weight:700;
}

.course-numbers {
    font-size: 14px;
    font-family:"Arial";
    font-weight:700;
    fill:black;
}

button {
    margin-right: 10px;
    margin-top: 5px;
}

#buttonDiv {
    margin-left: 30px
}

.title {
    font-size:14px;
    fill:black;
    font-family:"Arial";
    font-weight:700;  
    margin-bottom: 0;
}

.label {
    font-size: 14px;
    fill: black;
    font-family: Arial;
    font-weight: 500;
}

.tt-text {
    font-family: Arial;
    font-size: 14px;
}

#tooltip {
    padding: 7px;
}